{:paths ["server" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         org.clojure/clojurescript {:mvn/version "1.11.60"}
         org.clojure/core.async {:mvn/version "1.5.648"}
         integrant/integrant {:mvn/version "0.8.0"}
         com.github.prestancedesign/inertia-clojure {:mvn/version "0.2.3"}
         ring/ring-jetty-adapter {:mvn/version "1.9.5"}
         metosin/reitit-ring {:mvn/version "0.5.18"}
         metosin/reitit-middleware {:mvn/version "0.5.18"}
         selmer/selmer {:mvn/version "1.12.52"}}

 :aliases
 {:dev {:extra-paths ["dev-clj"]
        :extra-deps {integrant/repl {:mvn/version "0.3.2"}}}}}


